html{
    font-size: 10px;
    background: url('images/background.jpg') top center ;
    background-size: cover;
    
}
body,html{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;

}

.keys{
    display:flex ;
    flex: 1;
    min-height:100vh ;
    align-items: center;
    justify-content: center;

}

.key{
    border: 0.4rem solid black ;
    border-radius: 0.5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    width: auto;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0, 0, 0.5rem, black ;
     /* x,y offset,blur radius , color */

     transition: all 0.09s ease;

}

.sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: rgb(248, 244, 16);
}

kbd{
    font-size: 5rem;
    display: block;
}

.playing{
    transform: scale(1.1);
    border-color: brown;
    box-shadow: 0 0 0px rgb(173, 235, 30);
}