html{
    box-sizing: border-box;
    background: #c98eeb;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

*, *:before, *:after {
    box-sizing: inherit;
}

input{
    width: 100%;
    padding: 20px;
}
.search-form{
    max-width: 400px;
    margin: 50px auto;
}
input.search{
    margin: 0;
    outline: 0;
    text-align: center;
    /* border: 2px solid red; */
    width: 120%;
    border-radius: 10px;
    font-size: 40px;
    position: relative;
    top: 10px;
    
    left: -10%;
    z-index: 2;
    box-shadow: 0 0 5px rgba(0,0,0,0.12) , inset 0 0 2px rgba(0,0,0,0.34);
}
.suggestions{
    margin: 0;
    padding: 0;
    position: relative;
}
.suggestions li{
    background: white;
    list-style: none;
    border-bottom: 2px solid violet;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

